n8n-workflows/daily-homelab-report.json
{
  "name": "Daily Homelab Health Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "trigger",
      "name": "Daily 7AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "url": "http://health-api.docker-services.svc.cluster.local/",
        "options": {
          "timeout": 60000
        }
      },
      "id": "http_health",
      "name": "Collect Health Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 0],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Add timestamp to health data\nconst data = $json || {};\nreturn [{ json: { timestamp: new Date().toISOString(), ...data } }];"
      },
      "id": "add_timestamp",
      "name": "Add Timestamp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 0]
    },
    {
      "parameters": {
        "url": "http://ollama.docker-services.svc.cluster.local/api/chat",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'qwen3.5:9b', messages: [{ role: 'system', content: 'You are a homelab monitoring assistant. Analyze the health check data below and produce a concise daily report.\\n\\nFormat:\\n1. One-line overall status (e.g., \"All systems healthy\" or \"2 issues detected\")\\n2. Issues and warnings (if any), each with a brief explanation\\n3. Actionable recommendations (if any)\\n\\nFlag these conditions:\\n- Services returning non-2xx/3xx HTTP status\\n- Containers in unhealthy/restarting state or with restart count > 3\\n- K3s nodes in NotReady state\\n- Pods in CrashLoopBackOff, Pending, or Error state\\n- TLS certificates expiring within 14 days\\n- Disk usage above 80%\\n\\nKeep the report concise — this is a Discord message, not a document.\\nDo not repeat raw data. Summarize and explain.' }, { role: 'user', content: JSON.stringify($json) }], stream: false }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "ollama_request",
      "name": "Ollama Summarize",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, 0],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "ollama-check",
              "leftValue": "={{ $json.done }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if_ollama_ok",
      "name": "Ollama OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1000, 0]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { summary: $json.message.content, source: 'Powered by Ollama' } }];"
      },
      "id": "ollama_success",
      "name": "Ollama Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, -150]
    },
    {
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $credentials.httpHeaderAuth.value }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 1024, system: 'You are a homelab monitoring assistant. Analyze the health check data below and produce a concise daily report.\\n\\nFormat:\\n1. One-line overall status (e.g., \"All systems healthy\" or \"2 issues detected\")\\n2. Issues and warnings (if any), each with a brief explanation\\n3. Actionable recommendations (if any)\\n\\nFlag these conditions:\\n- Services returning non-2xx/3xx HTTP status\\n- Containers in unhealthy/restarting state or with restart count > 3\\n- K3s nodes in NotReady state\\n- Pods in CrashLoopBackOff, Pending, or Error state\\n- TLS certificates expiring within 14 days\\n- Disk usage above 80%\\n\\nKeep the report concise — this is a Discord message, not a document.\\nDo not repeat raw data. Summarize and explain.', messages: [{ role: 'user', content: JSON.stringify($('Add Timestamp').first().json) }] }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "claude_request",
      "name": "Claude Fallback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 150],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Anthropic API Key"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "claude-check",
              "leftValue": "={{ $json.stop_reason }}",
              "rightValue": "end_turn",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if_claude_ok",
      "name": "Claude OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1500, 150]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { summary: $json.content[0].text, source: 'Powered by Claude (Ollama was unreachable)' } }];"
      },
      "id": "claude_success",
      "name": "Claude Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1750, 50]
    },
    {
      "parameters": {
        "jsCode": "// Last resort: format raw data when both AI services fail\nconst data = $('Add Timestamp').first().json;\nlet lines = ['**AI summarization unavailable — raw data below**\\n'];\n\nif (data.http_checks) {\n  lines.push('**Docker Services:**');\n  for (const svc of data.http_checks) {\n    const icon = svc.healthy ? '✅' : '❌';\n    lines.push(`${icon} ${svc.service}: HTTP ${svc.status_code}`);\n  }\n  lines.push('');\n}\n\nif (data.disk) {\n  lines.push('**Disk Usage:**');\n  for (const d of data.disk) {\n    lines.push(`${d.filesystem}: ${d.percent} used (${d.used}/${d.size})`);\n  }\n  lines.push('');\n}\n\nif (data.k3s?.nodes?.length > 0) {\n  lines.push('**K3s Nodes:**');\n  for (const n of data.k3s.nodes) {\n    const icon = n.status === 'Ready' ? '✅' : '❌';\n    lines.push(`${icon} ${n.name}: ${n.status}`);\n  }\n  lines.push('');\n}\n\nif (data.k3s?.unhealthy_pods?.length > 0) {\n  lines.push('**Unhealthy Pods:**');\n  for (const p of data.k3s.unhealthy_pods) {\n    lines.push(`❌ ${p.namespace}/${p.name}: ${p.phase}`);\n  }\n}\n\nreturn [{ json: { summary: lines.join('\\n'), source: 'AI unavailable — raw data' } }];"
      },
      "id": "format_raw",
      "name": "Format Raw Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1750, 300]
    },
    {
      "parameters": {
        "jsCode": "// Build the Discord embed with color coding\nconst { summary, source } = $json;\n\nlet color = 3066993; // green\nconst lower = summary.toLowerCase();\nif (lower.includes('critical') || lower.includes('down') || lower.includes('unreachable') || lower.includes('❌')) {\n  color = 15158332; // red\n} else if (lower.includes('warning') || lower.includes('issue') || lower.includes('expiring') || lower.includes('above 80')) {\n  color = 15844367; // yellow\n}\n\nconst desc = summary.length > 4000 ? summary.substring(0, 3997) + '...' : summary;\n\nconst now = new Date();\nconst dateStr = now.toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', timeZone: 'America/New_York' });\nconst timeStr = now.toLocaleTimeString('en-US', { hour: 'numeric', minute: '2-digit', timeZone: 'America/New_York' });\n\nreturn [{\n  json: {\n    embeds: [{\n      title: `Homelab Daily Report — ${dateStr}`,\n      description: desc,\n      color,\n      footer: { text: `${source} | ${timeStr} ET` }\n    }]\n  }\n}];"
      },
      "id": "build_embed",
      "name": "Build Discord Embed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 0]
    },
    {
      "parameters": {
        "url": "https://discord.com/api/webhooks/1492744590502137996/ltFBXfWc48olPXA3jdwKwecKcuuS_d_b2NATnUSJ5iSBcn9GmAL3kBfaisM0geOeEONI",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "discord_post",
      "name": "Post to Discord",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2250, 0]
    }
  ],
  "connections": {
    "Daily 7AM Trigger": {
      "main": [
        [
          { "node": "Collect Health Data", "type": "main", "index": 0 }
        ]
      ]
    },
    "Collect Health Data": {
      "main": [
        [
          { "node": "Add Timestamp", "type": "main", "index": 0 }
        ]
      ]
    },
    "Add Timestamp": {
      "main": [
        [
          { "node": "Ollama Summarize", "type": "main", "index": 0 }
        ]
      ]
    },
    "Ollama Summarize": {
      "main": [
        [
          { "node": "Ollama OK?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Ollama OK?": {
      "main": [
        [
          { "node": "Ollama Success", "type": "main", "index": 0 }
        ],
        [
          { "node": "Claude Fallback", "type": "main", "index": 0 }
        ]
      ]
    },
    "Ollama Success": {
      "main": [
        [
          { "node": "Build Discord Embed", "type": "main", "index": 0 }
        ]
      ]
    },
    "Claude Fallback": {
      "main": [
        [
          { "node": "Claude OK?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Claude OK?": {
      "main": [
        [
          { "node": "Claude Success", "type": "main", "index": 0 }
        ],
        [
          { "node": "Format Raw Data", "type": "main", "index": 0 }
        ]
      ]
    },
    "Claude Success": {
      "main": [
        [
          { "node": "Build Discord Embed", "type": "main", "index": 0 }
        ]
      ]
    },
    "Format Raw Data": {
      "main": [
        [
          { "node": "Build Discord Embed", "type": "main", "index": 0 }
        ]
      ]
    },
    "Build Discord Embed": {
      "main": [
        [
          { "node": "Post to Discord", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
